In [11]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [12]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1518,tt0493430,11000000,72778712,Jackass Number Two,Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...,Jeff Tremaine,Guess who just made number two?,Jackass Number Two is a compilation of various...,95,Action|Comedy|Documentary,Paramount Pictures,9/22/2006,6.4,2006
1880,tt0190374,35000000,15185241,Dungeons & Dragons,Justin Whalin|Jeremy Irons|Thora Birch|Bruce P...,Courtney Solomon,This is no game.,The classic role-playing game comes to life in...,107,Action|Adventure|Fantasy|Science Fiction,New Line Cinema|Silver Pictures|Sweetpea Enter...,12/8/2000,3.9,2000
719,tt0494652,35000000,43650785,Welcome Home Roscoe Jenkins,Martin Lawrence|James Earl Jones|Margaret Aver...,Malcolm D. Lee,Roscoe Jenkins aims for the heartstrings and f...,"Martin Lawrence leads an all-star cast, includ...",114,Comedy|Drama,Universal Pictures|Spyglass Entertainment,2/8/2008,6.1,2008
844,tt1067583,38000000,114156230,Water for Elephants,Robert Pattinson|Reese Witherspoon|Christoph W...,Francis Lawrence,Life is the most spectacular show on earth.,"In this captivating Depression-era melodrama, ...",120,Drama|Romance,Ingenious Media|Dune Entertainment|Fox 2000 Pi...,3/15/2011,6.7,2011
1642,tt0360201,31000000,41512007,Wimbledon,Kirsten Dunst|Paul Bettany|Sam Neill|James McA...,Richard Loncraine,She's the golden girl. He's the longshot. It's...,A pro tennis player has lost his ambition and ...,98,Comedy|Romance,Universal Pictures,9/13/2004,5.7,2004

In [13]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [14]:
answers = {} # создадим словарь для ответов
data['profit'] = data['revenue'] - data['budget'] #создаем колонку с прибылью
data['month'] = pd.to_datetime(data['release_date']).dt.month #создаем колонку с месяцем релиза
data['name_len'] = data['original_title'].apply(lambda x:len(x)) #создаем колонку с длиной заголовка
data['word_count'] = data['overview'].str.split(' ').apply(lambda x:len(x)) #создаем колонку с кол-вом слов в описании

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [15]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# "+"

In [16]:
data.loc[data['budget'].idxmax()]

imdb_id                                                         tt1298650
budget                                                          380000000
revenue                                                        1021683000
original_title                Pirates of the Caribbean: On Stranger Tides
cast                    Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...
director                                                     Rob Marshall
tagline                                       Live Forever Or Die Trying.
overview                Captain Jack Sparrow crosses paths with a woma...
runtime                                                               136
genres                                           Adventure|Action|Fantasy
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|M...
release_date                                                    5/11/2011
vote_average                                                          6.3
release_year                                                         2011
profit                                                          641683000
month                                                                   5
name_len                                                               43
word_count                                                             75
Name: 723, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [17]:
answers['2'] = 'Gods and Generals (tt0279111)'
# "+"

In [18]:
data.loc[data['runtime'].idxmax()]

imdb_id                                                         tt0279111
budget                                                           56000000
revenue                                                          12923936
original_title                                          Gods and Generals
cast                    Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...
director                                                Ronald F. Maxwell
tagline                               The nations heart was touched by...
overview                The film centers mostly around the personal an...
runtime                                                               214
genres                                                  Drama|History|War
production_companies                   Turner Pictures|Antietam Filmworks
release_date                                                    2/21/2003
vote_average                                                          5.8
release_year                                                         2003
profit                                                          -43076064
month                                                                   2
name_len                                                               17
word_count                                                             48
Name: 1157, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [19]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
# "+"

In [20]:
data.loc[data['runtime'].idxmin()]

imdb_id                                                         tt1449283
budget                                                           30000000
revenue                                                          14460000
original_title                                            Winnie the Pooh
cast                    Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...
director                                        Stephen Anderson|Don Hall
tagline                                                          Oh Pooh.
overview                During an ordinary day in Hundred Acre Wood, W...
runtime                                                                63
genres                                                   Animation|Family
production_companies    Walt Disney Pictures|Walt Disney Animation Stu...
release_date                                                    4/13/2011
vote_average                                                          6.8
release_year                                                         2011
profit                                                          -15540000
month                                                                   4
name_len                                                               15
word_count                                                             52
Name: 768, dtype: object

# 4. Какова средняя длительность фильмов?

In [21]:
answers['4'] = 110
# "+"

In [22]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [23]:
answers['5'] = '107'
# "+"

In [24]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [25]:
answers['6'] = 'Avatar (tt0499549)'
# "+"

In [26]:
data.loc[data['profit'].idxmax()]

imdb_id                                                         tt0499549
budget                                                          237000000
revenue                                                        2781505847
original_title                                                     Avatar
cast                    Sam Worthington|Zoe Saldana|Sigourney Weaver|S...
director                                                    James Cameron
tagline                                       Enter the World of Pandora.
overview                In the 22nd century, a paraplegic Marine is di...
runtime                                                               162
genres                           Action|Adventure|Fantasy|Science Fiction
production_companies    Ingenious Film Partners|Twentieth Century Fox ...
release_date                                                   12/10/2009
vote_average                                                          7.1
release_year                                                         2009
profit                                                         2544505847
month                                                                  12
name_len                                                                6
word_count                                                             28
Name: 239, dtype: object

# 7. Какой фильм самый убыточный?

In [27]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# "+"

In [28]:
data.loc[data['profit'].idxmin()]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
month                                                                   7
name_len                                                               15
word_count                                                             68
Name: 1245, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [29]:
answers['8'] = 1478
# "+"

In [30]:
data_plus = data[(data['profit']) > 0]
data_plus.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1478 entries, 0 to 1884
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1478 non-null   object
 1   budget                1478 non-null   int64
 2   revenue               1478 non-null   int64
 3   original_title        1478 non-null   object
 4   cast                  1478 non-null   object
 5   director              1478 non-null   object
 6   tagline               1478 non-null   object
 7   overview              1478 non-null   object
 8   runtime               1478 non-null   int64
 9   genres                1478 non-null   object
 10  production_companies  1478 non-null   object
 11  release_date          1478 non-null   object
 12  vote_average          1478 non-null   float64
 13  release_year          1478 non-null   int64
 14  profit                1478 non-null   int64
 15  month                 1478 non-null   int64
 16  name_len              1478 non-null   int64
 17  word_count            1478 non-null   int64
dtypes: float64(1), int64(8), object(9)
memory usage: 219.4+ KB

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [31]:
answers['9'] = 'The Dark Knight (tt0468569)'
# "+"

In [32]:
data.loc[data[(data['release_year'] == 2008)]['revenue'].idxmax()]

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                                    7/16/2008
vote_average                                                          8.1
release_year                                                         2008
profit                                                          816921825
month                                                                   7
name_len                                                               15
word_count                                                             67
Name: 599, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [33]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# "+"

In [34]:
data.loc[data[(data['release_year'] > 2011) & (data['release_year'] < 2015)]['profit'].idxmin()]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
month                                                                   7
name_len                                                               15
word_count                                                             68
Name: 1245, dtype: object

# 11. Какого жанра фильмов больше всего?

In [35]:
answers['11'] = 'Drama'
# "+"

In [36]:
Counter(data['genres'].str.cat(sep="|").split('|')).most_common(5)

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [37]:
answers['12'] = 'Drama'
# "+"

In [38]:
Counter(data[(data['profit']) > 0]['genres'].str.cat(sep="|").split('|')).most_common(5)

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [39]:
answers['13'] = 'Peter Jackson'
# "+"

In [40]:
directors = pd.Series(data['director'].str.cat(sep='|').split('|')).value_counts(ascending=False)
for dir in directors.index:
    directors[dir] = data['revenue'][data['director'].apply(lambda x: True if dir in x else False)].sum()
directors.sort_values(ascending=False)

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [41]:
answers['14'] = 'Robert Rodriguez'
# "+"

In [42]:
action_movies = data[data.genres.str.contains('Action')]
directors = pd.Series(action_movies['director'].str.cat(sep='|').split('|')).value_counts(ascending=False)
directors.head()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [43]:
answers['15'] = 'Chris Hemsworth'
# "+"

In [44]:
actor_hrevenue = data.query('release_year == 2012')

cast = pd.Series(actor_hrevenue['cast'].str.cat(sep='|').split('|')) #сериес с актерами
cast = cast.value_counts(ascending=False)
for actor in cast.index:
    cast[actor] = actor_hrevenue['revenue'][actor_hrevenue['cast'].apply(lambda x: True if actor in x else False)].sum()
cast.sort_values(ascending=False)

Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Robert Downey Jr.    1519557910
Mark Ruffalo         1519557910
                        ...
Jason Bateman           3428048
Josh Lucas              2106557
Sami Gayle              2106557
Nicolas Cage            2106557
Danny Huston            2106557
Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [45]:
answers['16'] = 'Matt Damon'
# "+"

In [46]:
high_budget = data.query('budget > budget.mean()')
actors = pd.Series(high_budget['cast'].str.cat(sep='|').split('|')).value_counts(ascending=False)
actors.head()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [47]:
answers['17'] = 'Action'
# "+"

In [48]:
ncage = data[data.cast.str.contains('Nicolas Cage')]
genres = pd.Series(ncage['genres'].str.cat(sep='|').split('|')).value_counts(ascending=False) #сериес с актерами
genres.head()

Action      17
Thriller    15
Drama       12
Crime       10
Fantasy      8
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [49]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
# "+"

In [50]:
pm = data[data.production_companies.str.contains('Paramount Pictures')]
pm.loc[pm['profit'].idxmin()]

imdb_id                                                         tt0267626
budget                                                          100000000
revenue                                                          35168966
original_title                                       K-19: The Widowmaker
cast                    Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...
director                                                  Kathryn Bigelow
tagline                                          Fate has found its hero.
overview                When Russia's first nuclear submarine malfunct...
runtime                                                               138
genres                                             Thriller|Drama|History
production_companies    Paramount Pictures|Intermedia Films|National G...
release_date                                                    7/19/2002
vote_average                                                            6
release_year                                                         2002
profit                                                          -64831034
month                                                                   7
name_len                                                               20
word_count                                                             23
Name: 925, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [51]:
answers['19'] = 2015
# "+"

In [52]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [53]:
answers['20'] = 2014
# "+"

In [54]:
wb = data[data.production_companies.str.contains('Warner Bros')]
wb.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [55]:
answers['21'] = 'Сентябрь'
# "+"

In [56]:
data['month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [57]:
answers['22'] = 450
# "+"

In [58]:
data.month[(data.month == 6) | (data.month == 7) | (data.month == 8)].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [59]:
answers['23'] = 'Peter Jackson'
# "+"

In [60]:
winter = data.query('month in [1, 2, 12]')
directors = pd.Series(winter['director'].str.cat(sep='|').split('|')).value_counts(ascending=False)
directors.head()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Adam Shankman        4
Martin Scorsese      4
dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [61]:
answers['24'] = 'Four By Two Productions'
# "+"

In [62]:
companies = pd.Series(data.production_companies.str.cat(sep='|').split('|')) # сериес с компаниями
companies=companies.value_counts(ascending=False)

for comp in companies.index:
    companies[comp] = data['name_len'][data['production_companies'].apply(lambda x: True if comp in x else False)].mean()
companies.sort_values(ascending=False)

Four By Two Productions       83
Jim Henson Company, The       59
Dos Corazones                 47
Museum Canada Productions     46
Polsky Films                  46
                              ..
Berlanti Productions           3
Everest Entertainment          3
Ixtlan Productions             2
XM2 Productions                2
Global Entertainment Group     2
Length: 1771, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [63]:
answers['25'] = 'Midnight Picture Show'
# "+"

In [64]:
companies = pd.Series(data.production_companies.str.cat(sep='|').split('|')) # сериес с компаниями
companies=companies.value_counts(ascending=False)

for comp in companies.index:
    companies[comp] = data['word_count'][data['production_companies'].apply(lambda x: True if comp in x else False)].mean()
    #суммируем 
companies.sort_values(ascending=False)

Midnight Picture Show                          175
Room 9 Entertainment                           161
Heineken Branded Entertainment                 161
98 MPH Productions                             159
Brookwell-McNamara Entertainment               156
                                              ...
Phantom Four                                    13
Projection Pictures                             13
Sony Pictures Worldwide Acquisitions (SPWA)     13
Empire Pictures                                 11
Motion Picture Corporation of America           11
Length: 1771, dtype: int64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [65]:
answers['26'] = 'Peter Jackson'
# "+"

In [66]:
data.sort_values('vote_average', ascending=False).head(19)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,name_len,word_count
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,15,67
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,11,12,35
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,11,18,46
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,6,10,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,10,4,49
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,12,23,29
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,10,9,30
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,10,16,61
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,7,23,28
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,12,45,45
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,10,7,78
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,7,9,44
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,9,11,39
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,2,24,66
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013,24351251,12,3,65
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015,68346473,11,9,30
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014,487105443,10,10,29
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014,293151265,5,22,47
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2002,7.8,2002,847287400,12,37,41

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [67]:
answers['27'] = ''
# "-"

# Submission

In [68]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Peter Jackson',
 '27': ''}

In [69]:
# и убедиться что ни чего не пропустил)
len(answers)

27